/* Connor Baldridge
   styles.css
   2/15/26 */

/* CSS Reset */
body, header, nav, main, footer, section, figure, figcaption {
	margin: 0;
	padding: 0;
	border: 0;
}

/*Header H1 Styles*/
header h1 {
    text-align: center;
	color: #000080;
}

/*Header H2 Styles*/
header h2 {
    text-align: center;
	color: #000080;
}


/* Image Styles */
img {
    max-width: 100%;
    display: block;
    margin: 0 auto;
}

/* Removing the Underlines from the Nav Links*/
.nav-link {
    text-decoration: none;
}


/* Font Family */
* {
	font-family: Cambria, "Times New Roman", serif;
}



/* Navigation Styles/CSS Grid */
nav ul {
    list-style: none;
    display: grid; 
    grid-template-columns: repeat(7, 1fr); 
    gap: 10px;
    padding: 15px 0;
    margin: 0;
    background-color: #f4f4f4;
}

/*Navigation Bar List Items Styling*/
nav li {
    text-align: center;
}

.nav-link {
    text-decoration: none;
    color: #000080;
    font-weight: bold;
    font-size: 1.1em;
}

.nav-link:hover {
    text-decoration: underline;
}


/* Main Styles */
main p {
	
	color: #000080;
	text-align: center;
}

#aboutme {
    background-color: #ffffff; 
    padding: 20px;
    margin: 20px auto;
    max-width: 800px;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
}

/* Learning Log Paragraph */
#learninglog p {
    font-size: 1.2em;
    color: #000080;
}

/* Learning Log List Items */
#learninglog li {
	color: #000080;
	text-align: center;
	list-style: none;
}

/* Removing underlines from Contact*/
#contactinfo li {
	
    text-decoration: none;
	color: #000080;	
	list-style: none;
	text-align: center;
}

/* Footer Paragraph */
footer p {
	
	color: #000080;
	text-align: center;
}

/* Footer Link */
footer a {
    text-decoration: none;
	color: #000080;
}


/*Figure and Figcaption Centering*/
figure {
    text-align: center;
    margin: 10px auto;
}

figcaption {
    font-style: italic;
    color: #000080;
    margin-top: 5px;
}